{% extends 'layout.html' %}


{% block body %}

<h1>Multi-Label Emotion Classification</h1>
  <form action="" method="POST">
    <div class="form-group">
      <label>Text to analyze</label>
      <!-- <input type="textarea" name="text" class="form-control" value="Input Text To Classify"> -->
      <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" name="text"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Analyze</button>
  </form>

  {% if multiLabel: %}
  <div class="container" style="padding:2% 5%">
    <h2 class="font-italic font-weight-light">{{ text }}</h2>
    <div class="row"  style="padding:1% 15%">
      {% if  ( multiLabel[0] > 0.5): %}
      <div class="col">
        <p class="font-weight-bold text-center">Anger</p>
        <img style="border-radius: 50%;" class="img-fluid hoverable" src="{{url_for('static', filename='angry.png')}}" alt="Anger">
        <p class="font-weight-bold text-center">90%</p>
      </div>
      {% else: %}
      <div class="col" style="opacity:0.05">
        <p class="font-weight-bold text-center">Anger</p>
        <img style="border-radius: 50%;" class="img-fluid hoverable" src="{{url_for('static', filename='angry.png')}}" alt="Anger">
        <p class="font-weight-bold text-center">90%</p>
      </div>
      {% endif %}
  
      {% if ( multiLabel[1] > 0.5): %}
      <div class="col">
        <p class="font-weight-bold text-center">Disgust</p>
        <img style="border-radius: 50%;" class="img-fluid hoverable" src="{{url_for('static', filename='disgust.png')}}" alt="Disgust">
        <p class="font-weight-bold text-center">90%</p>
      </div>
      {% else: %}
      <div class="col" style="opacity:0.05">
        <p class="font-weight-bold text-center">Disgust</p>
        <img style="border-radius: 50%;" class="img-fluid hoverable" src="{{url_for('static', filename='disgust.png')}}" alt="Disgust">
        <p class="font-weight-bold text-center">90%</p>
      </div>
      {% endif %}
  
      {% if ( multiLabel[2] > 0.5): %}
      <div class="col">
        <p class="font-weight-bold text-center">Fear</p>
        <img style="border-radius: 50%;" class="img-fluid hoverable" src="{{url_for('static', filename='fear.png')}}" alt="Fear">
        <p class="font-weight-bold text-center">90%</p>
      </div>
      {% else: %}
      <div class="col" style="opacity:0.05">
          <p class="font-weight-bold text-center">Fear</p>
        <img style="border-radius: 50%;" class="img-fluid hoverable" src="{{url_for('static', filename='fear.png')}}" alt="Fear">
        <p class="font-weight-bold text-center">90%</p>
      </div>
      {% endif %}
  
      {% if ( multiLabel[3] > 0.5): %}
      <div class="col">
        <p class="font-weight-bold text-center">Happiness</p>
        <img style="border-radius: 50%;" class="img-fluid hoverable" src="{{url_for('static', filename='happy.png')}}" alt="Happiness">
        <p class="font-weight-bold text-center">90%</p>
      </div>
      {% else: %}
      <div class="col" style="opacity:0.05">
          <p class="font-weight-bold text-center">Happiness</p>
        <img style="border-radius: 50%;" class="img-fluid hoverable" src="{{url_for('static', filename='happy.png')}}" alt="Happiness">
        <p class="font-weight-bold text-center">90%</p>
      </div>
      {% endif %}
  
      {% if ( multiLabel[4] > 0.5): %}
      <div class="col">
        <p class="font-weight-bold text-center">Sadness</p>
        <img style="border-radius: 50%;" class="img-fluid hoverable" src="{{url_for('static', filename='sad.png')}}" alt="Sadness">
        <p class="font-weight-bold text-center">90%</p>
      </div>
      {% else: %}
      <div class="col" style="opacity:0.05">
        <p class="font-weight-bold text-center">Sadness</p>
        <img style="border-radius: 50%;" class="img-fluid hoverable" src="{{url_for('static', filename='sad.png')}}" alt="Sadness">
        <p class="font-weight-bold text-center">90%</p>
      </div>
      {% endif %}
  
      {% if ( multiLabel[5] > 0.5): %}
      <div class="col">
        <p class="font-weight-bold text-center">Surprise</p>
        <img style="border-radius: 50%;" class="img-fluid hoverable" src="{{url_for('static', filename='surprise.png')}}" alt="Surprise">
        <p class="font-weight-bold text-center">90%</p>
      </div>
      {% else: %}
      <div class="col" style="opacity:0.05">
        <p class="font-weight-bold text-center">Surprise</p>
        <img style="border-radius: 50%;" class="img-fluid hoverable" src="{{url_for('static', filename='surprise.png')}}" alt="Surprise">
        <p class="font-weight-bold text-center">90%</p>
      </div>
      {% endif %}
    </div>
  </div>
  
  {% endif %}

{% endblock %}